
@import "./_variables";


.headerUp{
    background-color: $colorBlue;
    color: #fff;
    padding: 5px 15%;

    text-align: end;
    li{
        list-style: none;
        display: inline;
        margin: 10px;
    }

    a{
        text-decoration: none;
        color: #fff;
        font-weight: bold;
    }
}

.spazioCentro{
    width: 70%;
    margin: auto;
}

.logo{
    margin: 2rem 0;

    width: 4rem;

    img{
      width: 100%;
    }
  }

nav{
    text-transform: uppercase;

    li{
        display: inline-block;

        padding: 4rem 0.5rem;

        font-weight: bold;
        font-size: 1rem;

        a{
            text-decoration: none;
            color: $coloreNero; 
        }

        &:hover a{
            color: $colorBlue;
            border-bottom: 5px solid $colorBlue;
            padding: 4rem 0;
        }  

        input{
            border: none;
            border-bottom: 3px solid $colorBlue;
            text-align: end;
            font-size: 25px;
            padding: 0 30px;
            width: 10rem;
        }

        .search{
            position: relative;
            display: flex;
            align-items: center;
        }

        i{
            color: $coloreTestoGrigio;
            position: absolute;
            right: 0;
            color: $coloreNero;
            font-size: 25px;
        }

    }

    .active{
        border-bottom: 5px solid $colorBlue;
        padding: 4rem 0;

        a{
            color: $colorBlue;
        }
    }
}

